.meal-form {
  padding: 32px;
}

.add-food {
  padding-bottom: 16px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 32px;
}

.ingridients {
  display: flex;
  margin: 16px 0;

  .delete {
    background: #ddd;
    padding: 4px;
  }
}